body {
  font-family: sans-serif;
}

#menu, .menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* this is where the header content is styled */

.header {
  padding-bottom: 20px;
  border-bottom: 5px solid black;
  padding-right: 150px;
  display: block;
}
.header .imgcontent {
  display: inline;
  max-width: 350px;
}
.header .header-menu {
  display: inline;
  float: right;
  width: 70%;
  font-size: x-large;
}
.header-menu ul {
  margin: 90px auto;
  float: right;
}
.header-menu ul li{
  display: inline;

}
.header-menu ul li a:hover{
  color: darkcyan;

}
.each-header-menu-item {
  padding: 20px;
}

/* This is where the body is styled */

.content {
  text-align: center;
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1600px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.pure-img-responsive {
  max-width: 100%;
  text-align: center;
}

/* This is where the footer is styled */

.footer {
  text-align: center;
}
.footer-menu {
  padding-left: 20px;
  text-align: center;
  font-size: larger;
}
.footer-menu ul {
  margin: 90px auto;
  float: center;
}
.footer-menu ul li{
  display: inline;

}
.footer-menu ul li a:hover{
  color: darkcyan;

}
.each-footer-menu-item {
  padding: 20px;
}


