body {
  font-family: sans-serif;
}

#menu, .menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* this is where the header content is styled */

.header {
  padding-bottom: 20px;
  border-bottom: 5px solid black;
  padding-right: 150px;
}
.pure-image-responsive {
  max-width: 350px;
}
.pure-menu-horizontal {
  padding-left: 20px;
  text-align: right;
  font-size: larger;
}

/* This is where the body is styled */

.content {
  text-align: center;
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1600px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.pure-img-responsive {
  max-width: 100%;
  text-align: center;
}



